[Unit]
Description=WmkAdmin for {{ site_name }}

[Service]
Environment=PATH={{ wmk_dir }}/bin:/usr/local/bin:/usr/bin/:/bin
User={{ site_owner_user }}
Group={{ site_owner_group }}
# Minimum requirements: (1) project_dir/admin is [symlink to] wmk_admin repo;
# (2) project_dir contains wmk_admin.conf; (3) project_dir/tmp exists.
ExecStart={{ wmk_venv_dir }/bin/python {{ project_dir }}admin/admin.py
SyslogIdentifier=wmk-admin-{{ site_slug }}
Restart=always

[Install]
WantedBy=multi-user.target
